---
name: pytorchjob
description: Kubeflow PyTorchJob workload with a starter manifest
stignorePreset: default
files:
  - path: .okdev/pytorchjob.yaml
    template: manifests/pytorchjob.yaml.tmpl
---
apiVersion: okdev.io/v1alpha1
kind: DevEnvironment
metadata:
  name: {{ .Name }}
spec:
  namespace: {{ .Namespace }}
{{- if .KubeContext }}
  kubeContext: {{ .KubeContext }}
{{- end }}
  session:
    defaultNameTemplate: '{{`{{ .Repo }}-{{ .User }}`}}'
  sync:
    engine: syncthing
    syncthing:
      version: {{ .SyncthingVersion }}
      autoInstall: true
    paths:
      - "{{ .SyncLocal }}:{{ .SyncRemote }}"
  ports:
    - name: app
      local: 8080
      remote: 8080
  workload:
    type: pytorchjob
    manifestPath: pytorchjob.yaml
    inject:
      - path: "spec.pytorchReplicaSpecs.Master.template"
      - path: "spec.pytorchReplicaSpecs.Worker.template"
    attach:
      container: dev
  ssh:
    user: {{ .SSHUser }}
{{- if .Shell }}
    shell: {{ .Shell }}
{{- end }}
    keepAliveIntervalSeconds: 30
    keepAliveTimeoutSeconds: 90
  sidecar:
{{- if .SidecarImage }}
    image: {{ .SidecarImage }}
{{- end }}
    resources:
      requests:
        cpu: "{{ .SidecarCPU }}"
        memory: {{ .SidecarMemory }}
      limits:
        cpu: "{{ .SidecarCPU }}"
        memory: {{ .SidecarMemory }}
