apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Name }}
  template:
    metadata:
      labels:
        app: {{ .Name }}
    spec:
      containers:
        - name: dev
          image: # TODO: replace with your image
          command: ["sleep", "infinity"]
          volumeMounts:
            - name: workspace
              mountPath: {{ .SyncRemote }}
      volumes:
        - name: workspace
          emptyDir: {}
