apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{`{{ .WorkloadName }}`}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{`{{ .WorkloadName }}`}}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{`{{ .WorkloadName }}`}}
    spec:
      containers:
        - name: dev
          image: # TODO: replace with your image
          command: ["sleep", "infinity"]
          volumeMounts:
            - name: workspace
              mountPath: {{ .SyncRemote }}
      volumes:
        - name: workspace
          emptyDir: {}
