apiVersion: batch/v1
kind: Job
metadata:
  name: {{`{{ .WorkloadName }}`}}
  labels:
    app.kubernetes.io/name: {{`{{ .WorkloadName }}`}}
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{`{{ .WorkloadName }}`}}
    spec:
      restartPolicy: Never
      containers:
        - name: dev
          image: # TODO: replace with your image
          command: ["sleep", "infinity"]
          volumeMounts:
            - name: workspace
              mountPath: {{ .SyncRemote }}
      volumes:
        - name: workspace
          emptyDir: {}
