apiVersion: v1
kind: Pod
metadata:
  name: {{`{{ .WorkloadName }}`}}
  labels:
    app.kubernetes.io/name: {{`{{ .WorkloadName }}`}}
spec:
  containers:
    - name: dev
      image: {{ .DevImage }}
      command: ["sleep", "infinity"]
      resources:
        requests:
          cpu: "{{ .DevCPURequest }}"
          memory: {{ .DevMemoryRequest }}
        limits:
          cpu: "{{ .DevCPULimit }}"
          memory: {{ .DevMemoryLimit }}
      volumeMounts:
        - name: workspace
          mountPath: {{ .SyncRemote }}
  volumes:
    - name: workspace
      emptyDir: {}
