apiVersion: kubeflow.org/v1
kind: PyTorchJob
metadata:
  name: {{ .Name }}
spec:
  pytorchReplicaSpecs:
    Master:
      replicas: 1
      restartPolicy: Never
      template:
        spec:
          containers:
            - name: dev
              image: # TODO: replace with your image
              command: ["sleep", "infinity"]
              volumeMounts:
                - name: workspace
                  mountPath: /workspace
          volumes:
            - name: workspace
              emptyDir: {}
